<?xml version="1.0"?>
<launch>
        <include file="$(find gazebo_simulations)/launch/start_differential_model_launch.launch"> 
        <node name="rqt_robot_steering" pkg="rqt_robot_steering" type="rqt_robot_steering">
                <param name="default_topic" value="/differential_drive_model/differential_drive_controller/cmd_vel" />
        </node>
        </include>
</launch>